<div style="float:left; width:20% margin:1em">
  <div class = "container">
    <h5> Create my service </h5>
    <hr>
    <%= render "services/new_form", service: @service %> <%#passing to partial% %>
  </div>
</div>
<%# iteration on all service with name, description and price in bootstrap card %>
<div class = "container">
  <h5 style="text-align:center"> Services currently listed </h5>
  <div class = "container-services">
      <% @services.each do |service| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= service.user.first_name %> <%= service.user.last_name %></h5>
            <hr style="border-top: dotted 1px;">
            <img src= "<%= service.user.picture %>" alt="sample photo">
            <p class="card-text">¥<%= service.price_hours %>/hr </p>
            <h6 class="card-subtitle mb-2 text-muted"><%= service.description %></h6>
            <%= link_to "details", service_path(service), class: "btn btn-primary", method: :get %>
          </div>
        </div>
      <% end %>
  </div>
</div>
