<%# iteration on all service with name, description and price in bootstrap card %>
<div class = "container">
  <h2 style="text-align:center">Our Listings</h2>
  <div class = "container-services d-flex">
      <% @services.each do |service| %>
        <div class="card card-profile my-5 mx-5" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= service.user.first_name %> <%= service.user.last_name %></h5>
            <p><%= service.name %></p>
            <hr style="border-top: dotted 1px;">
            <img src= "<%= service.user.picture %>" alt="user's photo" width="300" height="300" style="border-radius: 50%;">
            <%# <%= cl_image_tag(service.user.picture, alt: "user's photo", width: 300, height: 300, crop: :fill) %>
            <p class="card-text"><%= number_to_currency(service.price_hours, unit: "¥", separator: ".", delimiter: ",", precision: 0, round_mode: :up) %>/hr </p>
            <h6 class="card-subtitle mb-2 text-muted"><%= service.description %></h6>
            <div class="card-tag">
              <span><% service.tag_list.each do |tag| %>
                <%= tag.capitalize %>
              <% end %>
              </span>
            </div>
            <%= link_to "details", service_path(service), class: "btn btn-primary", method: :get %>
          </div>
        </div>
      <% end %>
  </div>
</div>
