<%# simple form for a new booking %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <%= simple_form_for([@service, @booking]) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :start_date,
          as: :string,
          input_html: { data: { controller: "datepicker" } },
           enableTime: true %>
          <%= f.input :end_date,
           as: :string,
          input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :comment %>
        </div>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
