<div class="container text-center pt-2 mt-2 flex-column justify-content-center col-12">
  <h1 class="fw-bold border-bottom">See all Bookings</h1>
</div>

<div class="d-flex container-bookings-all p-2 m-2">
  <div class="container">
    <div class="row">
            <div class="col-xl-6">
            <div class="booking-service-title m-2">
              <h1>Who I booked</h1>
            </div>
            <% if @bookings.empty? %>
              <p>No bookings yet</p>
            <% else %>
              <% @bookings.each do |booking| %>
                <div class="card">
                  <div class="card-body">
                    <%= booking.user.first_name %>
                    <%= booking.user.last_name %>
                    <%= booking.start_date %>
                    <%= booking.end_date %>
                    <%= booking.comment %>
                    <%= booking.status %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <%= link_to "new booking",  services_path %>
            </div>
        </div>
    </div>
    <div class="container">
          <div class="col-xl-6">
          <div class="booking-service-title m-2">
            <h1>Bookings as provider</h1>
          </div>
            <% if @my_bookings_as_provider.empty? %>
              <p>No bookings yet</p>
            <% else %>
              <% @my_bookings_as_provider.each do |booking| %>
                <div class="card">
                  <div class="card-body">
                    <%= booking.user.first_name %>
                    <%= booking.user.last_name %>
                    <%= booking.start_date %>
                    <%= booking.end_date %>
                    <%= booking.comment %>
                    <%= booking.status %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <%= link_to "new booking",  services_path %>
          </div>
      </div>
    </div>
  </div>
</div>
