<div class="navbar navbar-expand-sm navbar-light navbar-dionysus">
  <div class="container-fluid">
    <div class= "logo d-flex align-items-center p-0">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
      <h4 class="inline-container justify-content-center p-0 mb-0">DIONYSUS </h4>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
              <div class="d-grid gap-1 d-md-block mx-3">
                <%= form_with url: services_path, method: :get, class: "d-flex" do %>
                  <%= submit_tag "ðŸ”", name: "", class: "btn" %>
                  <%= text_field_tag :query,
                        params[:query],
                        class: "form-control",
                        placeholder: "Type a keyword"
                    %>
                <% end %>
              </div>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "My services", services_path(mine: true), class: "dropdown-item" %> <%# path goes to the params :mine in index%>
              <%= link_to "Post a wine experience", new_service_path, class: "dropdown-item" %> <%#added new_form here%>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
